
<div id="about-me"></div>
<section id="about-me" class="h-screen w-full grid place-content-center">
  <div class="text-start md:w-[43.8rem] w-auto mx-6">
    <h1 class="text-center text-4xl md:text-[40px] font-bold my-14">
      Sobre mi
    </h1>
    <p class="dark:text-[#B7B7B7] text-[#818181] text-2xl md:text-3xl font-semibold">
      Desarrollador frontend con experiencia en la creación de interfaces de
      usuario. Especializado en JavaScript, ReactJS, CSS y Node. Apasionado por
      construir páginas web.
      <br />
      <br />
       Más de 1 año y medio de estudio autodidacta en diseño, maquetación y
      desarrollo web. Continuamente buscando crecer profesionalmente en el
      ámbito del desarrollo Frontend.
    </p>
  </div>
</section>
