<div id="about-me"></div>
<section id="about-me" class="h-screen w-full grid place-content-center">
  <div class="text-start md:w-[48rem] w-auto mx-6">
    <h1 class="text-center text-4xl md:text-[40px] font-bold my-14">
      Sobre mi
    </h1>
    <p
      class="dark:text-[#B7B7B7] text-[#4e4e4e] text-[22px] md:text-3xl font-semibold"
    >
      Desarrollador Full-Stack en formación, dedicado a crear soluciones web
      innovadoras y eficientes que ayuden a las empresas a alcanzar sus
      objetivos y superar desafíos.
      <br />
      <br />
      Poseo sólidas habilidades en desarrollo front-end, con experiencia en <strong
        class="dark:text-white text-black"
        >JavaScript, Typescript, ReactJS, Nextjs, CSS
      </strong> , entre otras. Me especializo en la creación de interfaces de usuario
      atractivas y funcionales.
      <br />
      <br />
      Mi entusiasmo por la tecnología me impulsa a aprender y crecer constantemente.
      Busco oportunidades para aplicar mis conocimientos en proyectos desafiantes
      y contribuir al éxito de equipos dinámicos.
    </p>
  </div>
</section>
