---
import NodejsIcon from "../Icons/NodejsIcon";
import ReactIcon from "../Icons/ReactIcon";
import TailwindIcon from "../Icons/TailwindIcon";
---

<section id="my-abilities" class="w-full grid place-content-center">
  <div class="text-start">
    <h2 class="text-center text-4xl md:text-[40px] font-bold m-12 text-white">
      Mis Habilidades
    </h2>
  </div>
  <div class="flex justify-center gap-5">
    <ReactIcon width={55} height={55} />
    <TailwindIcon width={55} height={55} />
    <NodejsIcon width={55} height={55} />
    <ReactIcon width={55} height={55} />
    <TailwindIcon width={55} height={55} />
    <NodejsIcon width={55} height={55} />
  </div>
</section>
