---
import NodejsIcon from "../Icons/NodejsIcon";
import ReactIcon from "../Icons/ReactIcon";
import TailwindIcon from "../Icons/TailwindIcon";
import TypescriptIcon from "../Icons/TypescriptIcon";
import GitIcon from "../Icons/GitIcon";
import NextjsIcon from "../Icons/NextjsIcon";
import MongodbIcon from "../Icons/MongodbIcon";
---

<section id="abilities" class="w-full grid place-content-center">
  <div class="text-start">
    <h2 class="text-center text-4xl md:text-[40px] font-bold m-12 text-white">
      Mis Habilidades
    </h2>
  </div>
  <div 
    class="
      flex justify-center gap-6 flex-col md:flex-row items-center text-xl
      hover:[&>div>svg]:scale-125 [&>div>svg]:transition-transform [&>div]:relative
      [&>div>span]:absolute md:[&>div>span]:left-1/2 md:[&>div>span]:-translate-x-1/2
      md:[&>div>span]:top-[5.3rem] [&>div>span]:top-1/2 [&>div>span]:-translate-y-1/2 [&>div>span]:left-20
      [&>div>span]:opacity-0 [&>div>span]:bg-neutral-800 [&>div>span]:px-2 [&>div>span]:py-[1px]
      [&>div>span]:rounded-lg [&>div>span]:z-20"
  >
    <div class="group">
      <ReactIcon width={55} height={55} />
      <span class="group-hover:opacity-100">React</span>
    </div>
    <div class="group">
      <TypescriptIcon width={51} height={51} />
      <span class="group-hover:opacity-100">TypeScript</span>
    </div>
    <div class="group">
      <GitIcon width={56} height={56} />
      <span class="group-hover:opacity-100">Git</span>
    </div>
    <div class="group">
      <TailwindIcon width={55} height={55} />
      <span class="group-hover:opacity-100">Tailwind</span>
    </div>
    <div class="group">
      <NextjsIcon width={53} height={53} />
      <span class="group-hover:opacity-100">NextJS</span>
    </div>
    <div class="group">
      <MongodbIcon width={53} height={53} />
      <span class="group-hover:opacity-100">MongoDB</span>
    </div>
    <div class="group">
      <NodejsIcon width={54} height={54} />
      <span class="group-hover:opacity-100">NodeJS</span>
    </div>
  </div>
</section>
