---
import NodejsIcon from "../Icons/NodejsIcon";
import ReactIcon from "../Icons/ReactIcon";
import TailwindIcon from "../Icons/TailwindIcon";
import TypescriptIcon from "../Icons/TypescriptIcon";
import GitIcon from "../Icons/GitIcon";
import NextjsIcon from "../Icons/NextjsIcon";
import MongodbIcon from "../Icons/MongodbIcon";
---

<section id="abilities" class="w-full grid place-content-center">
  <div class="text-start">
    <h2 class="text-center text-4xl md:text-[40px] font-bold m-12 text-white">
      Mis Habilidades
    </h2>
  </div>
  <div class="flex justify-center gap-5 flex-col md:flex-row items-center">
    <ReactIcon width={55} height={55} />
    <TypescriptIcon width={51} height={51} />
    <GitIcon width={56} height={56} />
    <TailwindIcon width={55} height={55} />
    <NextjsIcon width={53} height={53} />
    <MongodbIcon width={53} height={53} />
    <NodejsIcon width={54} height={54} />
  </div>
</section>
