---
import Card from "../Card";
---

<div id="proyects"></div>
<section  class="h-screen w-full grid place-content-center">
  <div class="text-start md:w-[42rem] md:p-0 p-6 w-auto">
    <h2 class="text-center text-4xl md:text-[40px] font-bold my-12 text-white">
      Proyectos
    </h2>
    <Card client:visible />
  </div>
</section>

