---
import Layout from "../layouts/Layout.astro";
import vscodeLogo from "../../public/vscode-icon.png";
import ImageLogo from "../components/ImageLogo.astro";
---

<Layout title="Welcome to Astro.">
	<section id="home" class="h-screen w-full relative">
		<div class="text-center h-full w-full grid place-content-center">
			<h1
				class="text-5xl md:text-6xl lg:text-7xl text-[#3EA9F0] font-bold my-5"
			>
				Desarrollador front-end
			</h1>
			<p
				class="text-xl lg:text-3xl md:text-2xl text-[#B7B7B7] font-semibold mx-3 md:m-0"
			>
				Hola, soy <span class="text-white">Viruz</span>, entusiasta del
				desarrollo web
			</p>
		</div>
		<div
			class="top-0 bottom-0 absolute grid place-content-center h-full w-full z-[-1] blur-3xl"
		>
			<ImageLogo
				className="object-cover w-[90%] h-[90%]"
				mobileImgUrl={vscodeLogo}
				desktopImgUrl={vscodeLogo}
				alt="user profile picture"
			/>
		</div>
	</section>

	<section id="about-me" class="h-screen w-full grid place-content-center">
		<div class="text-start md:w-[43.8rem] w-auto mx-6">
			<h1 class="text-center text-4xl md:text-5xl font-bold my-14 text-white">Sobre mi</h1>
			<p class="text-2xl md:text-3xl text-[#B7B7B7] font-semibold">
				Desarrollador frontend con experiencia en la creación de interfaces de
				usuario. Especializado en JavaScript, ReactJS, CSS y Node. Apasionado
				por construir páginas web.
				<br />
				<br />
				 Más de 1 año y medio de estudio autodidacta en diseño, maquetación y
				desarrollo web. Continuamente buscando crecer profesionalmente en el
				ámbito del desarrollo Full-stack.
			</p>
		</div>
	</section>
	<section id="proyect" class="h-screen w-full grid place-content-center">
		<div class="text-start md:w-[43.8rem] w-auto mx-6">
			<h1 class="text-center text-4xl md:text-5xl font-bold my-14 text-white">
				Proyectos
			</h1>
			<p class="text-2xl md:text-3xl text-[#B7B7B7] font-semibold">
				Desarrollador frontend con experiencia en la creación de interfaces de
				usuario. Especializado en JavaScript, ReactJS, CSS y Node. Apasionado
				por construir páginas web.
				<br />
				<br />
				 Más de 1 año y medio de estudio autodidacta en diseño, maquetación y
				desarrollo web. Continuamente buscando crecer profesionalmente en el
				ámbito del desarrollo Full-stack.
			</p>
		</div>
	</section>
</Layout>
