<footer class=" w-full grid place-content-center mt-[10rem]">
  <div class="w-[85vw] h-[1px] bg-[#787878]"></div>
  <div class="grid place-content-center text-center h-[9rem]">
    <p class="text-xl">Creador por Viruz</p>
    <p class="text-neutral-400">Codigo fuente</p>
  </div>
</footer>