<footer class="w-full mt-[10rem] px-[8%]">
  <div
    class="grid place-content-center text-center w-full h-[9rem] border-t dark:border-t-neutral-700"
  >
    <div>
      <p class="text-xl mb-2">Creador por Nahuel David Sinka</p>
      <a
        href="https://github.com/V-Viruzz/portafolio-web"
        class="text-neutral-400 ">Codigo fuente</a
      >
    </div>
  </div>
</footer>
