<footer class="w-full grid place-content-center mt-[10rem]">
  <div class="w-[80vw] h-[1px] bg-[#3f3f3f]"></div>
  <div class="grid place-content-center text-center h-[9rem]">
    <p class="text-xl">Creador por Nahuel David Sinka</p>
    <a
      href="https://github.com/V-Viruzz/portafolio-web"
      class="text-neutral-400">Codigo fuente</a
    >
  </div>
</footer>
