---
import GithubIcon from "./Icons/GithubIcon.tsx";
import LinkedinIcon from "./Icons/LinkedinIcon.astro";
import EmailIcon from "./Icons/EmailIcon.astro";
import NavBarMobiel from "./NavBarMobiel";
---

<header class="z-30 relative font-medium">
  <nav class="justify-start lg:justify-center hidden md:flex text-lg">
    <ul
      class="desktop-nav transition-colors delay-150 duration-700 m-5 w-[30rem] h-[4.5rem] dark:bg-[#181818] bg-zinc-100 fixed rounded-xl flex justify-evenly items-center hover:[&>li]:text-[var(--color-text-1)] hover:[&>li]:transition-all"
    >
      <li><a href="#home">Inicio</a></li>
      <li><a href="#about-me">Sobre mi</a></li>
      <li><a href="#proyects">Proyectos</a></li>
      <li><a href="#abilities">Habilidades</a></li>
    </ul>
  </nav>

  <nav class="justify-end hidden md:flex">
    <ul
      class="desktop-nav-social w-[13rem] h-[4.5rem] dark:bg-[#181818] bg-zinc-100 fixed flex items-center justify-evenly rounded-xl mr-5 mt-5"
    >
      <li>
        <a href="https://github.com/Viruzzz0"
          ><GithubIcon width={38} height={38} />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nahuel-sinka-831483197/">
          <LinkedinIcon width={53} height={53} />
        </a>
      </li>
      <li>
        <a href="mailto:nahuelsinka@gmail.com" target="_blank">
          <EmailIcon width={38} height={38} />
        </a>
      </li>
    </ul>
  </nav>

  <NavBarMobiel client:media="(max-width: 768px)" />
</header>

<style>
  header > nav .blurNav {
    background-color: #00000042;
    backdrop-filter: blur(8px);
  }

  @media (prefers-color-scheme: light) {
    header > nav .blurNav {
      background-color: #e1e1e142
    }
  }
</style>

<script>
  const nav = document.querySelector(".desktop-nav");
  const navSocial = document.querySelector(".desktop-nav-social");

  window.addEventListener("scroll", () => {
    if (navSocial && nav !== null) {
      if (window.scrollY > 190) {
        nav.classList.add("blurNav");
        navSocial.classList.add("blurNav");
      } else {
        nav.classList.remove("blurNav");
        navSocial.classList.remove("blurNav");
      }
    }
  });
</script>
