---
import GithubIcon from "./Icons/GithubIcon.astro";
import LinkedinIcon from "./Icons/LinkedinIcon.astro";
import EmailIcon from "./Icons/EmailIcon.astro";
import NavBarMobiel from './NavBarMobiel'
---

<header class="z-30 relative text-white">
  <nav class="justify-start lg:justify-center hidden md:flex">
    <ul
      class="m-5 w-[30rem] h-[4.5rem] bg-[#151515] fixed rounded-xl flex justify-evenly items-center hover:[&>li]:text-[var(--color-text-1)] hover:[&>li]:transition-all"
    >
      <li><a href="#home">Inicio</a></li>
      <li><a href="#about-me">Sobre mi</a></li>
      <li><a href="#proyects">Proyectos</a></li>
      <li><a href="#my-abilities">Mis habilidades</a></li>
    </ul>
  </nav>

  <nav class="justify-end hidden md:flex">
    <ul
      class="w-[13rem] h-[4.5rem] bg-[#151515] fixed flex items-center justify-evenly rounded-xl mr-5 mt-5"
    >
      <li><GithubIcon width={38} height={38} /></li>
      <li><LinkedinIcon width={53} height={53} /></li>
      <li><EmailIcon width={38} height={38} /></li>
    </ul>
  </nav>

  <NavBarMobiel client:media="(max-width: 768px)"/>
  
</header>
